* {
    font-family: Sanchez, "Times New Roman", serif;
}

body {
    background-color: #005166;
    max-width: 1024px;
    margin: auto;
    padding: 1em;
}

.field-item {
    margin-bottom: 1em;
}

.field-label {
    display: block;
}

.field-label-required {
    font-weight: bold;
}

.field-list {
    list-style-type: none;
    padding: 0;
}

ul.login-providers {
  list-style-type: none;  
  padding: 0;
}

li.login-provider {
    padding: 1em;
    background: white;
    display: inline-block;
    margin-right: 1em;
    box-shadow: 1px 1px 2px black;
    border: 1px solid black;
}

.section {
    background-color: #fffbc7;
    padding: .5em 2em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 3px 3px 4px black;
}
