* {
    font-family: Sanchez, "Times New Roman", serif;
}

#about-us-pic {
    float: right;
    margin: 0 0 1em 1em;
}

#about-us-pic .caption {
    text-align: right;
}

body {
    background-color: #2a4952;
    max-width: 1024px;
    margin: auto;
}

.class-table .weekday:nth-of-type(1) th {
    padding-top: 0;
}

.class-table .weekday th {
    text-align: left;
    padding-top: 1em;
}

.class-table td {
    padding-right: 1.5em;
}

#contents {
    margin-left: 170px;
}

#content-wrapper {
    float: left;
    width: 100%;
}

.field-item {
    margin-bottom: 1em;
}

.field-label {
    display: block;
}

.field-label-required {
    font-weight: bold;
}

.field-list {
    list-style-type: none;
    padding: 0;
}

fieldset {
    border: 0;
}

.login-providers {
  list-style-type: none;  
  padding: 0;
}

.login-provider {
    padding: 1em;
    background: white;
    display: inline-block;
    margin-right: 1em;
    box-shadow: 1px 1px 2px black;
    border: 1px solid black;
}

#navigation {
    float: left;
    width: 150px;
    margin-bottom: 1em;
    margin-left: -100%;
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    margin-bottom: .3em;
    padding: .5em;
    box-shadow: 1px 1px 2px black;
    border: 1px solid black;
    background-color: #fff;
}

.nav-link-special a {
    color: #400601;
}

.registration-list {
    list-style-type: none;
    padding: 0;
}

.section {
    background-color: #fffbc7;
    padding: .5em 2em;
    margin-bottom: 1em;
    box-shadow: 3px 3px 4px black;
    position: relative;
}

#session-sidebar {
    float: right;
    width: 40%;
    text-align: justify;
    margin-left: 2em;
    font-size: 90%;
    background-color: white;
    padding: 0 1em 0 1em;
    border: 1px solid black;
    margin-bottom: 1em;
}

.teacher-headshot {
    float: left;
    margin-right: 1em;
}