<!DOCTYPE html>
<title>Registration Admin</title>
{{.Email}} [<a href="{{.LogoutURL}}">logout</a>]
{{$names := .Teachers}}
{{with .Classes}}
<h1>Classes</h1>
<table>
	<tr>
		<th>Title</th>
		<th>Teacher</th>
		<th>Day</th>
		<th>Start Time</th>
		<th>Length</th>
		<td>&nbsp;</td>
	</tr>
	{{range .}}
	<tr>
		<td>
			{{if .DropInOnly}}
			<i>{{.Title}}</i>
			{{else}}
			{{.Title}}
			{{end}}
		</td>
		<td>
			{{index $names .ID}}
		</td>
		<td>
			{{.DayOfWeek}}
		</td>
		<td>
			{{.StartTime.Format "15:04"}}
		</td>
		<td>
			{{.LengthMinutes}}m
		</td>
		<td>
			<a href="/registration/teacher/roster?class={{.ID}}">roster</a>
		</td>
		<td>
			<a href="/registration/admin/reschedule-class?class={{.ID}}">reschedule</a>
		</td>
		<td>
			<a href="/registration/admin/delete-class?class={{.ID}}">delete</a>
		</td>
	</tr>
	{{end}}
</table>
{{end}}
<a href="/registration/admin/add-class">add class</a>


