<!DOCTYPE html>
<title>Inner Hearth Yoga Registration</title>
<img src="images/large_logo.png" />
<p>Welcome, <b>{{.Account.FirstName}} {{.Account.LastName}}</b> [<a href="{{.LogoutURL}}">logout</a>]</p>
{{if .Registrations}}
<h1>Your Registrations</h1>
<ul>
{{range .Registrations}}
<li>{{.Title}} with {{.Teacher}} on {{.DayOfWeek}}s
{{end}}
</ul>
{{end}}
<h1>Register for a Class</h1>
<p>Currently, this system will only save you a space in a class. Payment will be accepted at the studio. Online payments are coming soon!</p>
{{with .SessionClasses}}
<table>
	<tr>
		<th>Class</th>
		<th>Teacher</th>
		<th>Day</th>
		<th>Time</th>
</tr>
	{{range .}}
	<tr>
		<td>{{.Title}}</td>
		<td>{{.Teacher}}</td>
		<td>{{.DayOfWeek}}</td>
		<td>{{.StartTime.Format "3:04pm"}}</td>
		<td><a href="/registration/new?class={{.ID}}">register</a></td>
	</tr>
	{{end}}
</table>
{{else}}
<p>No more classes are available this session</p>
{{end}}
