<!DOCTYPE html>
<title>Inner Hearth Yoga Registration</title>
<img src="images/large_logo.png" />
<p>Welcome, <b>{{.Account.FirstName}} {{.Account.LastName}}</b>
{{if .IsAdmin}}[<a href="/registration/admin">admin</a>]{{end}}
{{if .Account.Role.CanTeach}}[<a href="/registration/teacher">teacher</a>]{{end}}
[<a href="{{.LogoutURL}}">logout</a>]</p>
<p style="max-width: 800px">This is the online registration system for Inner Hearth Yoga. If
you encounter any problems,
please <a href="mailto:info@innerhearthyoga.com">contact us</a>. We
may run into some technological growing pains as we build our
community, and we appreciate your
patience! <a href="mailto:info@innerhearthyoga.com">Friendly
feedback</a> is of course always welcome.</p>

{{$names := .Teachers}} {{if .Registrations}}
<h1>Your Registrations</h1>
<ul>
{{range .Registrations}}
<li>{{.Title}} with {{index $names .ID}} on {{.DayOfWeek}}s
{{end}}
</ul>
{{end}}
{{if .Account.Confirmed.IsZero }}
<p>You cannot register for classes until you confirm your account. Please check your email for an account confirmation message.
<form action="/login/confirm/resend" method="POST">
	<input type="hidden" name="xsrf_token" value="{{.XSRFToken}}" />
	<p>Didn't receive an email? <button>Resend Confirmation</button>
</form>
{{else}}
<h1>Register for a Class</h1>
<p>Currently, this system will only save you a space in a class. Payment will be accepted at the studio. Online payments are coming soon!</p>
{{with .SessionClasses}}
<table>
	<tr>
		<th>Class</th>
		<th>Teacher</th>
		<th>Day</th>
		<th>Time</th>
</tr>
	{{range .}}
	<tr>
		<td>{{.Title}}</td>
		<td>{{index $names .ID}}</td>
		<td>{{.DayOfWeek}}</td>
		<td>{{.StartTime.Format "3:04pm"}}</td>
		<td><a href="/registration/new?class={{.ID}}">register</a></td>
	</tr>
	{{end}}
</table>
{{else}}
<p>No more classes are available this session</p>
{{end}}
{{end}}
