<!DOCTYPE html>
<title>Inner Hearth Yoga Registration</title>
<img src="images/large_logo.png" />
<p>Welcome, <b>{{.Account.FirstName}} {{.Account.LastName}}</b> [<a href="{{.LogoutURL}}">logout</a>]</p>
{{if .Classes}}
<form action="/registration/new" method="post">
	<input type="hidden" name="xsrf_token" value="{{.XSRFToken}}" />
  <ul>
    <li><label for="class">Choose class:</label>
      <select id="class" name="class">
				{{range .Classes}}
				<option>{{.Name}}</option>
				{{end}}
      </select>
  </ul>
  <button type="submit">Register</button>
</form>
{{else}}
<p>Sorry, there are no classes currently available for registration. Please check back soon!</p>
{{end}}
