<!DOCTYPE html>
<head>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
</head>
<h1>{{.Class.Title}}</h1>
<p>{{len .Registrations}} of {{.Class.Capacity}} registrations</p>
<table>
	<tr>
		<th colspan="2">Name</th>
		<th>Email</th>
		{{range .Registrations}}
	<tr>
		<td>{{.FirstName}}</td>
		<td>{{.LastName}}</td>
		<td>{{.Email}}</td>
	</tr>
{{end}}
</table>
<form method="post" action="/registration/teacher/register">
	<input type="hidden" name="xsrf_token" value="{{.XSRFToken}}" />
	<input type="hidden" name="class" value="{{.Class.ID}}" />
	<ul>
		<li>
			<label for="firstname">Name:</label>
			<input type="text" required="required" name="firstname" id="firstname" placeholder="First"/>
			<input type="text" required="required" name="lastname" id="lastname" placeholder="Last"/>
		<li>
			<label for="email">Email:</label>
			<input type="email" id="email" required="required" name="email" placeholder="student.email@host.com"/>
		<li>
			<label for="phone">Phone (optional):</label>
			<input type="text" id="phone" name="phone" placeholder="555-555-1212" />
	</ul>
	{{if not .Class.DropInOnly}}
	<button name="type" value="session">Session</button>
	{{end}}
	<div id="datepicker"></div>
	<input type="date" name="date" id="date" readonly="readonly"/>
	<button name="type" value="dropin">Drop In</button>
</form>
<a href="/registration/teacher">All Classes</a>
<script src="http://code.jquery.com/jquery-1.8.3.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script>
	$("#datepicker").datepicker({
	beforeShowDay: function(date) {
	show = {{dayNumber .Class.DayOfWeek}} == date.getDay()
	return [show, ""]
	},
	dateFormat: "yy-mm-dd",
	onSelect: function(date, picker) {
	$("#date").val(date)
	}
	})
	date = $("#datepicker").datepicker('getDate')
	date = $.datepicker.formatDate('yy-mm-dd', date)
	$("#date").val(date)
</script>
