{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="#yin-yogassage">Yin Yogassage&trade;</a>
  <li class="nav-link"><a href="/pricing">Pricing &amp; Policies</a>
  <li class="nav-link"><a href="/privates-groups">Private &amp; Group Lessons</a>
  <li class="nav-link"><a href="/workshops">Workshops</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
  <li class="nav-link"><a href="/mailinglist">Subscribe to our mailing list!</a>
</ul>
{{end}}
{{define "body"}}
<div class="section">
  <p>Sorry, the page you were looking for was not found.</p>
  <p><a href="/">Return home.</a></p>
</div>
{{end}}
