{{define "body"}}
<div class="container">
  <h1>Add Session</h1>
  <form method="post" role="form">
    {{template "XSRFTokenInput" .Token}}
    <div class="form-group">
      <label for="name" class="field-label">Name:</label>
      <input type="text" required="required" name="name" id="name" size="40" class="form-control" />
    </div>
    <div class="form-group">
      <label for="startdate">Start Date (MM/DD/YYYY; for example 02/15/2012):</label>
      <input type="text" name="startdate" id="startdate" class="form-control"/>
      <div id="start-date-picker"></div>
    </div>
    <div class="form-group">
      <label for="enddate">End Date (MM/DD/YYYY; for example 02/15/2012):</label>
      <input type="text" name="enddate" id="enddate" class="form-control" />
      <div id="end-date-picker"></div>
    </div>
    </ul>
    <button class="btn btn-default">Add</button>
  </form>
</div>
{{end}}
{{define "script"}}
<script>
 $('#startdate').attr('readonly', true);
 $('#enddate').attr('readonly', true);
 $("#start-date-picker").datepicker({
   dateFormat: "mm/dd/yy",
   onSelect: function(date, picker) {
     $("#startdate").val(date);
   }});
 $("#end-date-picker").datepicker({
   dateFormat: "mm/dd/yy",
   onSelect: function(date, picker) {
     $("#enddate").val(date);
   }});
</script>
{{end}}
