{{define "body"}}
<div class="section">
<h1>Add Session</h1>
<form method="post">
  {{template "XSRFTokenInput" .Token}}
  <ul class="field-list">
    <li class="field-item"><label for="name" class="field-label">Name:</label>
      <input type="text" required="required" name="name" id="name" size="40" />
    <li class="field-item">
      <div id="start-date-picker"></div>
      <label class="field-label" for="startdate">Start Date (MM/DD/YYYY; for example 02/15/2012):</label>
      <input type="text" name="startdate" id="startdate" />
    <li class="field-item">
      <div id="end-date-picker"></div>
      <label class="field-label" for="enddate">End Date (MM/DD/YYYY; for example 02/15/2012):</label>
      <input type="text" name="enddate" id="enddate" />
  </ul>
  <button>Add</button>
</form>
</div>
{{end}}
{{define "script"}}
<script>
  $("#start-date-picker").datepicker({
  dateFormat: "mm/dd/yy",
  onSelect: function(date, picker) {
  $("#startdate").val(date);
  }});
  $("#end-date-picker").datepicker({
  dateFormat: "mm/dd/yy",
  onSelect: function(date, picker) {
  $("#enddate").val(date);
  }});
</script>
{{end}}
