{{define "body"}}
<div class="section">
<h1>{{.Session.Name}}</h1>
<p>{{.Session.Start.Format "2 January"}} &ndash; {{.Session.End.Format "2 January"}}</p>
<h2>Classes</h2>
<table class="class-table">
  {{$classes := .Classes}}
  {{$teachers := .Teachers}}
  {{range .DaysInOrder}}
  {{$day := .}}
  {{$today := index $classes $day}}
  {{with $today}}
  <tr class="weekday">
    <th colspan="4">{{$day}}</th>
  </tr>
  {{range .}}
  <tr>
    <td>{{.Title}}</td>
    {{$teacher := index $teachers .ID}}
    <td>{{$teacher.DisplayName}}</td>
    {{$endTime := .StartTime.Add .Length}}
    <td>{{FormatLocal "3:04pm" .StartTime}} &ndash; {{FormatLocal "3:04pm" $endTime}}</td>
    <td>
      {{if .DropInOnly}}
      <i>Drop-in Only</i>
      {{end}}
    </td>
    <td>
      <a href="/teacher/roster?class={{.ID}}">roster</a>
    </td>
    <td>
      <a href="/staff/edit-class?class={{.ID}}">edit</a>
    </td>
    <td>
      <a href="/staff/delete-class?class={{.ID}}">delete</a>
    </td>
  </tr>
  {{end}}  {{/* range . */}}
  {{end}}  {{/* with $today */}}
  {{end}}  {{/* range .DaysInOrder */}}
</table>
<a href="/staff/add-class?session={{.Session.ID}}">Add Class</a>
</div>
{{end}}
