{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}
{{define "body"}}
<div id="mission" class="section">
  <h1>About Us</h1>
  <div id="about-us-pic" class="captioned-img">
    <img src="/images/aboutus2.jpg" alt="Lauren and Jill" />
    <p class="caption">Studio owners Jill and Lauren</p>
  </div>
  <p>Inner  Hearth Yoga offers alignment-focused hatha yoga classes in our snug studio nestled in the heart of Point Breeze.</p>
  <p>Whether you’re looking for an asana challenge or total rest and relaxation, we’ve got a class
    that will fit your needs. No matter what class you choose, you’ll get individual attention from
    our skilled and attentive teachers to help you deepen and focus your practice.</p>

  <h2>What class should I take?</h2>
  <p>If you want to Stretch and Strengthen, try:</p>
  <ul>
    <li>Aligned Flow Level 1 (beginner/intermediate)
    <li>Aligned Flow Level 2 (intermediate/advanced)
    <li>Yoga for Runners and Athletes
  </ul>
  <p>If you want to Rest and Restore, try:</p>
  <ul>
    <li>Yin Yoga
    <li>Yin Yoga &amp; Flow
    <li>Meditation 
    <li>Yin Yogassage
  </ul>
  <p>For expecting mothers and new mothers:</p>
  <ul>
    <li>Prenatal and Postnatal Yoga
    <li>Baby and Me Yoga
  </ul>
</div>
{{end}}
