{{define "body"}}
<div class="section">
  <h1>{{.Class.Title}}</h1>
  <p>{{.Class.Weekday}}s with {{.Class.Teacher.FirstName}} at {{.Class.StartTime.Format "3:04pm"}}</p>
  <p>{{.Class.Description}}</p>
  {{if not .User }}
  <p><a href="/login">Log in</a> to register.</p>
  {{else}}

  {{if not .Registration}}
  <h2>Register</h2>

  {{if not .Class.DropInOnly}}
  <h3>Session Registration</h3>
  <p>This class meets every week from {{.Class.BeginDate.Format "1/2"}} through {{.Class.EndDate.Format "1/2"}}.
    You can reserve your spot for the whole session.<p>
  <p>When you register for a session at Inner Hearth:
    <ul>
      <li>You get a better deal, because your per-class cost decreases.
      <li>You get the best of both worlds - attend all the classes you can, but make up all the
        classes you miss! You may make up classes either before or after you miss them, in any class
        that's appropriate for your level (with the exception of Yin Yogassage), by the end of the
        session in which you missed the class.
      <li>Regular attendance to classes not only builds your practice but builds a strong,
        supportive yoga community. Making a commitment to your practice means making a commitment to
        you.
      <li>Your teachers get to know you better, making it easier for them to offer  modifications
        that are suited just for you.
    </ul>
  <form method="post" action="/registration/session">
    {{template "XSRFTokenInput" .Token}}
    <input type="hidden" name="class" value="{{.Class.ID}}" />
    <button>Register For Entire Session</button>
  </form>
  {{end}}

  <h3>Single-Day Registration</h3>
  <form method="post" action="/registration/oneday">
    {{template "XSRFTokenInput" .Token}}
    <input type="hidden" name="class" value="{{.Class.ID}}" />
    <div id="datepicker"></div>
    <input type="date" name="date" id="date" required="required" />
    <button>Register For One Day</button>
  </form>
  {{else}}
  <p>You are registered for this class.</p>
  {{end}}
  {{end}}
</div>
{{end}}
{{define "script"}}
<script>
  $("#datepicker").datepicker({
  beforeShowDay: function(date) {
  show = {{weekdayAsIndex .Class.Weekday}} == date.getDay();
  return [show, ""];
  },
  dateFormat: "yy-mm-dd",
  onSelect: function(date, picker) {
  $("#date").val(date);
  }
  });
</script>
{{end}}
