{{define "body"}}
<div id="mission" class="section">
  <h1>About Us</h1>
  <p><strong>Inner Hearth Yoga</strong> is the place to stoke up your yoga practice along with the
    Point Breeze community! Whether you're a novice or a longtime practitioner, our skilled and
    attentive teachers at the Hearth will meet you where you are. Don't worry about having the right
    outfit, the best attitude, or the perfect pose. Inner Hearth's yoga is for every body!
  <p>Our teachers help students recognize their bodies' potential through precise and compassionate
    instruction, supplying the anatomical context students need.
    <ul class="nav-menu">
      <li><a href="#classes">Our Classes</a>
      <li><a href="#teachers">Our Teachers</a>
      <li><a href="#pricing">Pricing Info</a>
    </ul>
    <div>
      <h3>Plan Your Visit</h3>
      <p>Our classroom opens 15 minutes before class begins. We're on the second floor at
	<a href="https://maps.google.com/maps?q=6736+Reynolds+Street,+Pittsburgh,+PA&amp;hl=en&amp;sll=40.431368,-79.9805&amp;sspn=0.226574,0.528374&amp;oq=6736+Reynolds+Street,+P&amp;t=v&amp;hnear=6736+Reynolds+St,+Pittsburgh,+Allegheny,+Pennsylvania+15206&amp;z=14&amp;iwloc=A">
	  6736 Reynolds Street</a> in Point Breeze, above Make Your Mark Artspace and Coffeehouse.
	Street parking is available for free.
	
      <p>If you visit our studio after Make Your Mark Coffeehouse is closed, please use the
	<strong>outside</strong> staircase only. If Make Your Mark is open during your visit, you're
	welcome to use the stairs inside the coffeehouse!
	
      <p>If you have your own yoga mat, please bring it! We have some mats available for your use (no
	charge, they're free), but a yoga mat is a good investment for your health and home practice. We
	have straps, blocks, blankets and bolsters for you to use.
    </div>
</div>
<div id="classes" class="section">
  <h1>Our Classes</h1>
  </div>
{{end}}
