{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="#yin-yogassage">Yin Yogassage&trade;</a>
  <li class="nav-link"><a href="/pricing">Pricing Info</a>
  <li class="nav-link"><a href="/workshops">Workshops</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
    {{if not .User}}
  <li class="nav-link"><a href="/login">Log In</a>
    {{else}}
    {{if .Teacher}}<li class="nav-link nav-link-special"><a href="/teacher">Teacher Portal</a>{{end}}
    {{if .Staff}}<li class="nav-link nav-link-special"><a href="/staff">Staff Portal</a>{{end}}
    {{if .Admin}}<li class="nav-link nav-link-special"><a href="/admin">Admin</a>{{end}}
  <li class="nav-link"><a href="{{.LogoutURL}}">Log Out</a>
    {{end}}
</ul>
{{end}}
{{define "body"}}
{{if .Announcements}}
<div class="section">
  <h1>Announcements</h1>
  {{range .Announcements}}
  <p>{{.GetText}}</p>
  {{end}}
</div>
{{end}}
{{with .Registrations}}
<div class="section">
  <h1>Your Registrations</h1>
  <ul class="registration-list">
  {{range .}}
  <li>
    {{.Title}} with {{.Teacher.FirstName}} on
    {{if .DropIn}}
    {{.Weekday}} {{.Student.Date.Format "1/2"}}
    {{else}}
    {{.Weekday}}s
    {{end}}
    at {{.StartTime.Format "3:04pm"}}.
  </li>
  {{end}}
  </ul>
</div>
{{end}}
<div id="classes" class="section">
  <h1>Our Classes</h1>
  <p>Click on a class's name to see the description, sign up to drop in, or sign up for a whole session.</p>
  <table class="session-table">

  {{range .Sessions}}
    <tr class="session-heading">
      <th class="session-name" colspan="2">{{.Name}}</th>
      <td class="session-dates">{{.Start.Format "2 January"}} &ndash; {{.End.Format "2 January"}}</td>
    </tr>
      {{range $day, $classes := .Classes}}
      {{with $classes}}
    <tr>
      <th colspan="3" class="class-weekday">{{indexAsWeekday $day}}</th>
    </tr>
    {{range .}}
    <tr>
      <td><a href="/class?id={{.ID}}">{{.Title}}</a>{{if .DropInOnly}} <i>(drop-in only)</i>{{end}}</td>
      <td>{{.Teacher.FirstName}}</td>
      <td>{{.StartTime.Format "3:04pm"}} &ndash; {{.EndTime.Format "3:04pm"}}</td>
    </tr>
    {{end}}
    {{end}}
    {{end}}

  {{end}}
  </table>

  <div style="clear: both"></div>
</div>
    <div id="yin-yogassage" class="section">
      <h1>Yin Yogassage&trade;</h1>
      <p>
	Yin Yogassage is a seamless blend of yoga and bodywork. During a Yin Yogassage class,
	students of all levels will be led through the quiet, reflective practice of Yin Yoga while
	receiving massage as they rest in the poses. Students with chronic conditions are welcome,
	and will be assisted in modifying their practice to accommodate their conditions. Class size
	is limited, insuring that each student receives generous attention! Experience for yourself
	the deep release of tension and complete relaxation that occurs during a Yin YogassageTM
	workshop.
      </p>
      <p>
	<strong>Preregistration is REQUIRED:</strong> click on your preferred workshop date below to
	sign up!
      </p>
      <ul>
	<li><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdEVYdHI5S29OemF2NDhDNHBkOGdVVkE#gid=0">Signup for Thursday, June 13, 7&ndash;9pm</a>
      </ul>
    </div>
{{end}}
