{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="#workshops">Our Workshops</a>  
  <li class="nav-link"><a href="#yin-yogassage">Yin Yogassage&trade;</a>
  <!--<li class="nav-link"><a href="#classes">Our Classes</a>-->
  <li class="nav-link"><a href="/pricing">Pricing Info</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
    {{if not .User}}
  <li class="nav-link"><a href="/login">Log In</a>
    {{else}}
    {{if .Teacher}}<li class="nav-link nav-link-special"><a href="/teacher">Teacher Portal</a>{{end}}
    {{if .Staff}}<li class="nav-link nav-link-special"><a href="/staff">Staff Portal</a>{{end}}
    {{if .Admin}}<li class="nav-link nav-link-special"><a href="/admin">Admin</a>{{end}}
  <li class="nav-link"><a href="{{.LogoutURL}}">Log Out</a>
    {{end}}
</ul>
{{end}}
{{define "body"}}
{{if .Announcements}}
<div class="section">
  <h1>Announcements</h1>
  {{range .Announcements}}
  <p>{{.GetText}}</p>
  {{end}}
</div>
{{end}}
{{with .Registrations}}
<div class="section">
  <h1>Your Registrations</h1>
  <ul class="registration-list">
  {{range .}}
  <li>
    {{.Title}} with {{.Teacher.FirstName}} on
    {{if .DropIn}}
    {{.Weekday}} {{.Student.Date.Format "1/2"}}
    {{else}}
    {{.Weekday}}s
    {{end}}
    at {{.StartTime.Format "3:04pm"}}.
  </li>
  {{end}}
  </ul>
</div>
{{end}}
<div id="classes" class="section">
  <h1>Our Classes</h1>
  <p>Click on a class's name for details & registration.</p>
  <!--<img src="/images/armbalance.png" alt="Pinchamayurasana" style="float: right"/>-->
  <table class="class-table">
    {{range $day, $classes := .Classes}}
    {{with $classes}}
    <tr class="weekday">
      <th colspan="4">{{indexAsWeekday $day}}</th>
    </tr>
    {{range .}}
    <tr>
      <td><a href="/class?id={{.ID}}">{{.Title}}</a></td>
      <td>{{.Teacher.FirstName}}</td>
      <td>{{.StartTime.Format "3:04pm"}} &ndash; {{.EndTime.Format "3:04pm"}}</td>
    </tr>
    {{end}}
    {{end}}
    {{end}}
  </table>
  <div style="clear: both"></div>
</div>
    <div id="workshops" class="section">
      <h1>Workshops</h1>
      <h2>Foundations of Arm Balancing: Plant Deep To Rise with Jill</h2>
      <p>Saturday, March 23 from 1-3pm. Think arm balancing is all about handstands and crazy splits?
	Think you're not strong enough for an arm balance practice? Think again. Arm balances are not
	born - they're made from the ground up! The first step is just to put your hands on the
	earth... or is it?? Join Jill for this practice designed to get you started on the path to arm
	balances. $30 per student. Sign
	up <a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdFloUmU4bFl6LWszejhEZGZpdzN4M0E&usp=sharing">here</a>.</p>
    </div>
    <div id="yin-yogassage" class="section">
      <h1>Yin Yogassage&trade;</h1>
      <p>
	Yin Yogassage is a seamless blend of yoga and bodywork. During a Yin Yogassage class,
	students of all levels will be led through the quiet, reflective practice of Yin Yoga while
	receiving massage as they rest in the poses. Students with chronic conditions are welcome,
	and will be assisted in modifying their practice to accommodate their conditions. Class size
	is limited, insuring that each student receives generous attention! Experience for yourself
	the deep release of tension and complete relaxation that occurs during a Yin YogassageTM
	workshop.
      </p>
      <p>
	<strong>Preregistration is REQUIRED:</strong> click on your preferred workshop date below to
	sign up!
      </p>
      <ul>
	<li><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdDJuYW52NFFtZEdLMHdmWklYV3pmWWc#gid=0">Signup for Thursday April 4th, 7&ndash;9pm</a>
	<li><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdGN0d2o4NGVNNjlrRjA4YVBLWHdPaXc#gid=0">Signup for Thursday April 18th, 7&ndash;9pm</a>
      </ul>
    </div>
{{end}}
