{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
  <h1 id="pricing">Pricing &amp; Policies</h1>
  <b>Fall Session; September 9 - December 22 (15 weeks)</b>
  <p><strong>New Students:</strong> Your first class is always $5!</p>
  <p><strong>All Students:</strong> Drop in anytime OR register for the whole session.</p>

  <h2>Drop In Pricing</h2>
  <table>
    <tr><td>Regular:</td><td>$15</td></tr>
    <tr><td>Student/Senior/Military:</td><td>$12</td></tr>
  </table>

  <h2>Session Pricing</h2>
  <table>
    <tr>
      <td>One class a week:</td>
      <td>$165</td>
      <td>(Register at any time - we will pro-rate)</td>
    </tr>
    <tr>
      <td>Two classes a week:</td>
      <td>$300</td>
      <td>(Register at any time - we will pro-rate)</td>
    </tr>
    <tr>
      <td><b>Unlimited classes</b> for Fall Session:</td>
      <td>$450</td>
    </tr>
  </table>

  <p><b>10% discount</b> for students, seniors and military. Please show ID at time of payment.</p>

  <div id="session-sidebar">
    <h2>Making Up Missed Classes</h2>

    <p>Going to a weekly class is great - it helps make yoga practice a regular part of your life -
    but sometimes you need to miss a class or two. When this happens, you have until the end of the
    session to MAKE UP your missed classes! If you know you’re going to miss class in advance, you
    can even make up BEFORE you miss class.</p>

    <p>Many people enjoy taking class on alternate days of the week - for example, register for one
    class a week and attend class on alternate Tuesdays and Thursdays.</p>
  </div>

  <h2>How to make the most of your session at Inner Hearth</h2>

  <p>To DROP IN to one class at at time:</p>
  <ol>
    <li>Click the “Home” button on the left
    <li>Click "Log In" on the bottom left
    <li>Click on the name of the class you want to take
    <li>Scroll down until you see the words "Single Day Registration" and click on the calender date when you want to take class
    <li>Click "Register for One Day"
  </ol>

  <p>To sign up for a class you want to attend EVERY WEEK:</p>
  <ol>
    <li>Click the “Home” button on the left
    <li>Click "Log In" on the bottom left
    <li>Click on the name of the class you want to take
    <li>Click "Register for the entire session"
  </ol>

  <h2>Refunds</h2>
  <p>Please email info@innerhearthyoga.com or call us at 410-204-7227 to discuss!</p>
</div>
{{end}}
