{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
<h1 id="pricing">Pricing</h2>
    <h3>How Our Classes Work</h3>
    <p>Inner Hearth Yoga offers classes in sessions, like semesters! Just like a class offered at a
    university, each weekly class builds on what was taught during previous classes. This
    progressive teaching style helps students grow strength, skill and flexibility throughout the
    session.

    <p>When you register for a session at Inner Hearth:

    <ul>
        <li>You get a better deal, because your per-class cost decreases.
        <li>You get the best of both worlds - attend all the classes you can, but make up all the
        classes you miss! You may make up classes either before or after you miss them, in any class
        that's appropriate for your level (with the exception of Yin Yogassage), by the end of the
        session in which you missed the class.
        <li>Regular attendance to classes not only builds your practice but builds a strong,
        supportive yoga community. Making a commitment to your practice means making a commitment to
        you.
        <li>Your teachers gets to know you better, making it easier for them to offer  modifications
        that are suited just for you
    </ul>

    <p>We offer a $5 preview week before each new session starts, giving you the chance to try out
    different teachers, class times, and class types. You can register online or in person at the
    studio at any point during the session - we will pro-rate your session fee based off of how many
    weeks have elapsed when you decide to register.

    <p>We also offer Six-Week Short Courses. These are like taking a special workshop that meets
    once a week for six weeks! We offer them on topics we think you’ll like, such as Yoga Basics for
    Beginners and Post-Natal Yoga for moms and pre-crawling babies. You can get a taste of the short
    course content by coming to $5 Preview Week - try before you buy!
    <table>
        <tr>
            <th colspan="2">Drop In Pricing</th>
        </tr>
        <tr>
            <td>90 &amp; 75 minute class:</td>
            <td>$15</td>
        </tr>
        <tr>
            <td>60 minute class:</td>
            <td>$12</td>
        </tr>
        <tr>
            <td>Yin Yogassage:</td>
            <td>$40 per class. Preregistration is <b>REQUIRED</b>; you can <a href="http://innerhearthyoga.appspot.com/registration">register online</a>.</td>
        </tr>
        <tr>
            <th colspan="2">Session Pricing (Winter/Spring Session is 12 weeks long)</th>
        <tr>
            <td>90 minute class:</td>
            <td>$144 ($12 per class)</td>
        </tr>
        <tr>
            <td>75 minute class:</td>
            <td>$132 ($11 per class)</td>
        </tr>
        <tr>
            <td>60 minute class:</td>
            <td>$120 ($10 per class)</td>
        </tr>

        <tr>
            <th colspan="2">Six-Week Short Course Pricing</th>
        </tr>
        <tr>
            <td colspan="2">All Six-Week Short Courses are only $66!</td>
        </tr>

        <tr>
            <th colspan="2">Dates for Winter/Spring Session</th>
        <tr>
            <td>$5 Preview Week:</td>
            <td>January 7 - 13 (All classes are $5 except Yin Yogassage)</td>
        </tr>
        <tr>
            <td>Winter/Spring Session:</td>
            <td>January 14 - April 7 (12 weeks)</td>
        </tr>
    </table>
</div>
{{end}}
