{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
  <h1 id="pricing">Pricing</h1>
  <p><strong>New Students:</strong> Your first class is always $5!</p>
  <p><strong>All Students:</strong> Drop in anytime OR register for the whole session.</p>

  <h2>Drop-in pricing</h2>
  <ul>
    <li>75 min. class: $15
    <li>60 min. class: $12
  </ul>

  <div id="sessions">
  <div id="session-sidebar">
  <h2>Why Sessions?</h2>

  <p>
    Inner Hearth Yoga offers classes in sessions, like semesters! Just like a class offered at a
    university, each weekly class builds on previous classes. This progressive teaching style helps
    students grow measurably stronger and more flexible throughout the session.
  </p>
  <p>
    Committing to a session not only builds your practice but builds a strong, supportive yoga
    community. Making a commitment to your practice means making a commitment to you!
  </p>
  </div>

  <h2>Session pricing</h2>
  <p>12-week Spring/Summer Session: April 15-July 7</p>
  <ul>
    <li>75 min. class: $132 ($11 per class - register for the session ANYTIME.)
    <li>60 min. class: $120 ($10 per class - register for the session ANYTIME.)
  </ul>
  </div>

  <div>
    <h2>6-week Summer Session</h2>
    <p>July 15-August 25</p>

    <p><b>UNLIMITED YOGA FOR SUMMER SESSION:</b> $99</p>

    <p>
      To register for one weekly class:
      <ul>
	<li>75 min. class: $66 ($11 per class - register for the session ANYTIME.)
	<li>60 min. class: $60 ($10 per class - register for the session ANYTIME.)
      </ul>
      </p>
  </div>

  <p>When you register for the session after it begins, we'll pro-rate your pricing according to how
    many weeks are left in the session. If you miss your registered class, you may make up that
    class in ANY other class on our schedule! You can make up in advance or after you miss, and
    you’ve got until the end of the session to take your makeup classes. (You may not make up a
    missed class in Yin Yogassage.)</p>
</div>
{{end}}
