{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
  <h2>Private and Small Group Class Pricing</h2>
  <p>
    Jill and Lauren are available to teach private classes one-on-one or in groups of 2-3.
  </p>
  <ul>
    <li>30 min. private class: $35
    <li>60 min. private class: $75
    <li>60 min. small group class (2-3 students): $100
    <li>3-pack of 60 min. private classes: $200 (save $25)
    <li>6-pack of 60 min. private classes: $400 (save $50)
  </ul>
  <p>
    Email <a href="mailto:jill@innerhearthyoga.com">jill@innerhearthyoga.com</a>
    or <a href="lauren@innerhearthyoga.com">lauren@innerhearthyoga.com</a> to schedule.
  </p>

  <h2>Corporate Classes</h2>
  <p>
    We can come to your workplace! Email <a href="mailto:info@innerhearthyoga.com">info@innerhearthyoga.com</a> for rates and scheduling.
  </p>

  <h2>Special Events</h2>
  <p>
    Looking for something to make a birthday, baby shower, bachelor/bachelorette party or girl’s
    weekend more special? How about a yoga class tailored just for you? Six person
    minimum. Children’s parties are
    welcome. Email <a href="mailto:info@innerhearthyoga.com">info@innerhearthyoga.com</a> for rates and
    scheduling!
  </p>

  <h2>Partner Yoga Workshops</h2>
  <p>
    Make a wedding party, baby shower or retreat memorable with a partner yoga workshop! During this
    two-hour workshop led by Jill and Lauren, every pose is done with the support of a
    friend. Expect to do plenty of laughing and falling over - who says yoga isn’t a full-contact
    sport? No previous yoga experience is necessary - and this workshop is for partners of all
    kinds. Eight person
    minimum. Email <a href="mailto:info@innerhearthyoga.com">info@innerhearthyoga.com</a> for rates and
    scheduling.
  </p>
</div>
{{end}}
