{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}
{{define "body"}}
<div id="teachers" class="section">
    <h1>Our Teachers</h1>
    <div>
        <h2 class="teacher-name" id="jill-bio">Jill Cummings (co-owner, E-RYT/LCSW)</h2>
        <img class="teacher-headshot" src="images/jill-headshot.jpg" alt="Jill Cummings" />
        <p><span class="teacher-name">Jill Cummings</span> found yoga back in 1999 at the
        12th Street Gym in Philadelphia while seeking a practice to nurture her body after
        years of banging it up as an athlete. A few years later she became certified to
        teach through the thoughtful and compassionate teachings of Corina Benner and Jill
        Manning at Wake Up Yoga. She also completed trainings in kids', prenatal and
        postpartum yoga with Gail Silver of Yoga Child. She's also spiced up her teachings
        by studying Yin yoga with Corina Benner, yoga anatomy with Paul Grilley, Sanskrit
        with Manorama and has practiced with many more amazing teachers.  Jill formerly
        co-founded and taught at Yogawood in Collingswood, NJ until her family relocated to
        Pittsburgh in 2009. While independently teaching the most amazing students in da
        ‘burgh she also co-created Yin YogassageTM with Brad Mumpower in 2011. Jill then met
        Lauren at another local yoga studio…and the rest is history!
        <p>Her teachings are infused with anatomical and physiological considerations ,
        compassion and attention for each unique student , a lot of laughter and tons of
        fun!  When not teaching yoga, Jill is currently finishing her Master of Occupational
        Therapy at the University of Pittsburgh, hanging with her husband and 2 kooky kids,
        goofy hound dog, Charlie and crazy cat, Kitty.
    </div>
    <div>
        <h2 class="teacher-name" id="lauren-bio">Lauren Sims (co-owner, RYT)</h2>
        <img class="teacher-headshot" src="images/lauren-headshot.jpg" alt="Lauren Sims" />
        <p>In 2004, <span class="teacher-name">Lauren Sims</span> accidentally walked into a
        yoga class instead of a martial arts class and never walked out. Lauren is
        passionate about helping students realize their capacity for growth and change, and
        believes that the most profound possibility yoga offers is the chance to become an
        active, joyful participant in your own life.

        <p>After years of study at Willow Street Yoga in Takoma Park, MD, Lauren graduated
        from their comprehensive teacher training program led by Suzie Hurley and Maria
        Hamburger in 2010. Since then, she's studied therapeutic yoga and anatomy with Jenny
        Otto of Body Balance Yoga, completed a prenatal teacher training with Janice
        Clarfield, and continues to study with master teachers such as Douglas Brooks,
        Christina Sell, Bernadette Birney, and Emma Magenta. Her classes inspire the body to
        reach its full potential through mindful sequencing and precise instruction, and are
        infused with warmth, humor, and just a bit of tough love!

        <p>Lauren moved to Pittsburgh in June 2012, and fell in love with the City of Steel
        at first sight. She lives in Shadyside with her husband and two entitled cats.
    </div>
    <div class="teacher-bio">
      <h2 class="teacher-name" id="kim-bio">Kim Eckel</h2>
      <img class="teacher-headshot" src="images/kim-headshot.jpg" height="150" alt="Kim Eckel" />
      <p><span class="teacher-name">Kim Eckel</span>first turned to yoga in the late 90s to
	complement her time spent running competitively in college. It did not take long for her to
	discover the wonderful peace that can come through practice and in 2006, she completed her
	200 hour certification at Kripalu. Kim aims to cultivate compassionate self-awareness among
	her students, as well as an appreciation for the equanimity that can be found through
	practice on the mat. Her classes vary depending on the needs of her students; however, she
	continually seeks to provide a safe, fun and relaxing environment. When not practicing yoga
	or running, Kim can be found working on her PhD and enjoying time with her husband and son.</p>
    </div>
    <div class="teacher-bio">
      <h2 class="teacher-name">Tracy Linza</h2>
      <img class="teacher-headshot" src="images/tracy-headshot.jpg" alt="Tracy Linza" />
      <p>
	<span class="teacher-name">Tracy Linza</span> discovered yoga in 2000, but didn't get
	serious about it for another 4 years of attending classes and finding a class that resonated
	with her. In 2006, she became a Register Yoga Teacher through Yoga 'Hom and has since earned
	certificates in Restorative Yoga and Yin Yoga. A few years later, a foot injury and
	consequently, surgery, forced her to seek more balance in her life. Out went the spin, body
	sculpt and boot camp classes! Always a student in her own eyes, she was then able to devote
	more time to studying yoga and developing a home practice that fit her needs. Tracy is
	sensitive to newcomers, offers modifications that will fit their needs and encourages
	students to not take themselves so seriously. Be serious about your commitment to the
	practice, but have fun with it. Her motto is "yoga meets us where we are". Tracy has studied
	with Sadie Nardini, taken workshops with Desiree Rumbaugh and Cora Wen, but is influenced by
	the many great teachers (especially Richard Gartner) and various styles right here in the
	Pittsburgh area!
      </p>
      <p>
	When not teaching yoga or taking a class, Tracy works for a software company, enjoys hiking,
	biking, reading (mostly yoga/meditation books) and spending time in the great outdoors. She
	lives in Penn Hills, does home improvement projects each summer (with the help of a very
	experienced friend!) dotes on her rescued cats and has tremendous compassion for all
	animals.
      </p>
    </div>
    <div class="teacher-bio">
      <h2 class="teacher-name">Julika Lomas</h2>
      <img class="teacher-headshot" src="images/julika-headshot.jpg" alt="Julika Lomas" />
      <p>
	Julika Lomas is a German born yogi who discovered yoga in 2008 in San Diego. She has
	explored many different kinds of athletics while growing up and then found an attention to
	the mind-body aspect in yoga that she found unique and worth pursuing. Back in California,
	she studied with Anusara-inspired, Vinyasa flow and Hatha yoga instructors.
      </p>
      <p>
	Her classes are thus a mix of these impulses; the yoga poses flow at a calm pace to create a
	strengthening sequence yet attention to detail and alignment never get overlooked. In her
	career as a yoga teacher, Julika has taught at a health club, center for restorative yoga
	and practiced as a pregnant woman and young mother. These days, she appreciates the luxury
	of smaller groups, where people feel recognized and attended to in a much needed
	way. Adjustments to make each student's practice personal are always a choice in her
	classes. As a trained mental health professional and diligent observer, Julika knows how to
	address issues of the heart and mind. Words are carefully chosen and yogic principles are
	not just empty phrases. In a way, offering now classes at Inner Hearth felt like coming home
	to her.
      </p>
    </div>
    <div class="teacher-bio">
        <h2 class="teacher-name" id="brad-bio">Brad Mumpower</h2>
        <img class="teacher-headshot" src="images/brad-headshot.jpg" alt="Brad Mumpower" />
        <p><span class="teacher-name">Brad Mumpower</span> is a Certified Massage
        Therapist and Reiki Master working in private practice in Pittsburgh,
        specializing in deep tissue and trigger point therapy. In addition to teaching
        at the Pittsburgh School of Massage, Brad runs a small wellness center with a
        group of massage therapists and yoga instructors. In 2011, Brad's 12 years of
        bodywork experience lead him to collaborate with Jill Cummings to create Yin
        Yogassage™, a practice that seamlessly blends restorative yoga poses and
        bodywork.
    </div>
    <div style="clear: both"></div>
    <div class="teacher-bio">
      <h2 class="teacher-name">Max Novelli</h2>
      <img class="teacher-headshot" src="images/max-headshot.jpg" alt="Max Novelli" />
      <p>
	Max found yoga in 2001 soon after moving to Pittsburgh from Italy. After many years of hard
	core mountain biking, his knees decided they needed some TLC. After a few physical therapy
	sessions it was suggested he try yoga to keep his legs in shape and to stretch his
	muscles. Then, after 6 months of yoga classes at the local gym Max starting noticing how
	much better he felt after each class. This is when the light bulb went off in his brain and
	his journey truly began.
      </p>
      <p>
	Max currently has a weekly home practice and practices with some of his favorite teachers
	including; Jill Cummings, Richard Gartner, Maggie Pietri- Boria and Alana Deloge. He has
	enjoyed attended workshops with Kino McGregor, Doug Keller and other esteemed teachers.
      </p>
      <p>
	After couple of years of careful time management and planning (thanks to his wife Jennifer),
	he was finally able to make the time for yoga teacher training.  He is attending the
	YogaWorks 200-hour teacher training with Anna Gilbert Zupon at BYS. He is projected to
	complete the training in July 2013.
      </p>
      <p>
	When not on his mat, you can find him at his day job as a software engineer at the University
	of Pittsburgh, riding is mountain bike all around the ‘burgh, tasting good wines and delicious food,
	cooking, reading, and last but most important, spending time with his wife Jennifer and two sons
	Alessandro and Roberto.
      </p>
    </div>
    <div style="clear: both"></div>
</div>
{{end}}
