{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="#yin-yogassage">Yin Yogassage&trade;</a>
  <li class="nav-link"><a href="/pricing">Pricing Info</a>
  <li class="nav-link"><a href="/workshops">Workshops</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
<h1>The Rocket</h1>
<p><b>Friday, September 6</b> from <b>6-7:30pm</b> with Susie Popovich</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/the_rocket.jpg">
</div>

<p>The Rocket is a dynamic flow of poses inspired by the Ashtanga Yoga Primary and Secondary
series. Expect to sweat, laugh, and play hard! This practice is designed to push your physical and
mental limits, so don't be afraid to show up and do what you can. Modifications are allowed and
encouraged!</p>

<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdDdrMDhEWUx4UVc2di1YcUI0QVJXX1E#gid=0">Sign up online.</a></p>
<p>Bring $15.00 CASH ONLY for this practice!</p>
</div>

<div class="section">
<h1>Chakra Vinyasa Adventure</h1>
<p><b>Sunday, September 22</b> from <b>1-3pm</b>, with Julie</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/chakras.jpg">
<p><i>Image credit Jeanette P. (jp512) on flickr.com</i></p>
</div>

<p>
This 2 hour workshop will begin with a short discussion on the chakras - 7 energy points that
correspond to physical locations in the body. Where are they located and what does each represent?
</p>

<p>
The heart of the workshop is a vinyasa flow class suitable for all levels. We will work our way
through each of the chakras from the bottom up, practicing postures to stimulate and energize each
chakra. In each posture, you will learn characteristics of an excessive or deficient chakra, how it
is relevant to you personally, and ultimately begin to bridge the gap between the mind and physical
body.
<p>

<p>
We will wrap up with discussion and activities to further discover which chakras are energized,
which are deficient, and what can we do about all of it!
</p>

<p><b>All levels welcome!</b></p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdEFNaTZBdmlkTUFZcURlN3FGUzdOWWc#gid=0">Sign up online.</a></p>
<p>$25.00 cash, check or credit at the door.</p>
</div>

<div class="section">
<h1>Yin Yoga and Reiki</h1>
<p><b>Thursday, September 26</b> from <b>7-9pm</b>, with Jill</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/yoga-and-reiki.png">
</div>

<p>Enjoy a grounding, quieting, restorative Yin Yoga practice while receiving the hands-on healing
modality called Reiki. Reiki has been defined as "universal energy", and will be offered mindfully
by Jill Cummings as she guides you through a practice designed to help you relax and rejuvenate.</p>

<p>Effects of Reiki are said to include deep relaxation and an increased sense of calm and
well-being. Join Jill for this two hour long treat, and see what an evening of mindful relaxation
can unlock for you!</p>

<p><b>All levels welcome!</b></p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdHNrQnJ5UHF4Q0lxY3FSRzZZS0hiUVE#gid=0">Sign up online</a></p>
<p>$25.00</p>
</div>

<div class="section">
<h1>Partner Yoga</h1>
<p><b>Friday, October 25</b> from <b>6-8pm</b>, with Jill &amp; Lauren</p>
<p><b>Saturday, October 26</b> from <b>5-7pm</b>, with Lauren &amp; Ryan</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/partners.jpg">
</div>

<p>Partner Yoga is back!</p>
<p>In this popular workshop, use the physical support of a friend to experience yoga in a whole new
way. Be prepared to have fun, play hard and do plenty of falling over!</p>

<p>$40.00 per pair</p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdHBDUGFiQUgwQjRLLTlGRDh2NlAzM0E#gid=0">Sign up for Friday, 10/25</a></p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdHlXTFg5MGRtNlRzNktySHpiRmpPSnc#gid=0">Sign up for Saturday, 10/26</a></p>
<div style="clear: both"></div>
</div>

<div class="section">
<h1>Beautiful Wounds: Ganesh Mythology</h1>
<p><b>Saturday, November 9</b> from <b>11:30am-1:30pm</b>, with Lauren</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/ganesh.jpg">
<p><i>Image credit Greg Rodgers (grodgers) on flickr.com</i></p>
</div>

<p>
How can Hindu mythology help us leverage more skillful living every day? Through storytelling,
journaling, and all-levels asana, we'll explore how the elephant-headed god with the broken tusk
teaches us to live with joyful self-acceptance.
</p>

<p>$25.00</p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdDV6V3l5b0xmemYxck1zMURINjBLUlE#gid=0">Sign up online</a></p>
<div style="clear: both"></div>
</div>

<div class="section">
<h1>Winter Solstice Practice</h1>
<p><b>Saturday, December 21</b> (time TBD), with Lauren &amp; Jill</p>

<p>
Join Inner Hearth Yoga for a practice to mark the turning point of the year. We'll gather before the
longest night of the year to turn inside for contemplation and use this dark time to plant seeds of
intention in anticipation of the return of the light.
</p>

<p>price TBD</p>
</div>

{{end}}
