<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/base.css" />

    <style>
     .nobreak {
       white-space: nowrap !important;
     }
     footer {
       margin-top: .5em;
       padding-top: 10px;
     }
    </style>
    <title>Inner Hearth Yoga</title>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="padding-top: 2px" href="/"><img src="/images/logo-horiz-sm.jpg" alt="Inner Hearth Yoga" /></a>
        </div><!-- .navbar-header -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Classes <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/">Yoga Classes</a></li>
                <li><a href="/yin-yogassage">Yin Yogassage&trade;</a></li>
                <li><a href="/workshops">Workshops</a></li>
                <li><a href="/privates-groups">Private &amp; Group Lessons</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/directions">Directions</a></li>
                <li><a href="/pricing">Pricing &amp; Policies</a></li>
                <li><a href="/teachers">Our Teachers</a></li>
              </ul>
            </li>
          </ul>
          <ul class="navbar-right nav navbar-nav">
            <li><a href="/mailinglist"><span class="text-primary"><b>Get our Newsletter!</b></span></a></li>
            <li class="dropdown hidden" id="userDropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span id="userEmail"></span>
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li id="staffPortalLink" class="hidden"><a href="/staff">Staff Portal</a></li>
                <li id="adminLink" class="hidden"><a href="/admin">Admin</a></li>
                <li><a id="signOutLink" href="{{.LogoutURL}}">Sign Out</a></li>
              </ul>
            </li>
            <li id="signInLink"><a href="/login">Sign In</a></li>
          </ul>
        </div> <!-- .navbar-collapse -->
      </div> <!-- .container -->
    </nav>

    {{ template "body" . }}

    <footer>
      <div class="container" itemscope itemtype="http://schema.org/LocalBusiness">
        <div class="row">
          <div class="col-md-3 col-xs-12">
            &copy; <span itemprop="name">Inner Hearth Yoga</span> 2013
          </div>
          <div class="col-md-5 col-xs-12">
            <span class="nobreak">
              <span class="glyphicon glyphicon-envelope"></span>
              <a href="mailto:info@innerhearthyoga.com">
                <meta itemprop="email" content="info@innerhearthyoga.com">
                info@innerhearthyoga.com
              </a>
            </span>
            <span class="nobreak">
              <span class="glyphicon glyphicon-phone"></span> <a href="tel:+14122047727" itemprop="telephone">412-204-7227</a>
            </span>
          </div>
          <div class="col-md-4 col-xs-12">
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
              <span itemprop="streetAddress" class="nobreak">
                <a href="https://www.google.com/maps/place/6376+Reynolds+St/@40.4529642,-79.9151666,17z/data=!3m1!4b1!4m2!3m1!1s0x8834edf418864185:0xe1c8bb56bd9a5f6e">
                  <span class="glyphicon glyphicon-globe"></span> 6376 Reynolds Street
                </a>
              </span>
              <span itemprop="addressLocality">Pittsburgh</span>,
              <span itemprop="addressRegion">PA</span>
              <span itemprop="postalCode">15206</span>
            </span>
          </div>
        </div>
      </div>
    </footer>

    {{define "XSRFTokenInput"}}
    <input type="hidden" name="xsrf_token" value="{{.}}" />
    {{end}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script>
     (function() {
       $('#signOutLink').click(function() {
         $.removeCookie('ihyuser');
       });

       var $userDropdown = $('#userDropdown');
       var $signInLink = $('#signInLink');
       var userDataCookie = $.cookie('ihyuser');
       if (!userDataCookie || userDataCookie == '') {
         return;
       }
       $userDropdown.removeClass('hidden');
       $signInLink.addClass('hidden');
       var bits = userDataCookie.split(':');
       var userData = {
         email: bits[0],
         isAdmin: bits[1] == 'true',
         isStaff: bits[2] == 'true'
       };
       $('#userEmail').text(userData.email);
       $('#staffPortalLink').toggleClass('hidden', !userData.isStaff);
       $('#adminLink').toggleClass('hidden', !userData.isAdmin);
     })();
    </script>
    <script src="/js/bootstrap.min.js"></script>
    {{define "script"}}{{end}}
    {{template "script" .}}
    <script>
     var _gaq = _gaq || [];
     _gaq.push(['_setAccount', 'UA-9294002-8']);
     _gaq.push(['_setDomainName', 'innerhearthyoga.com']);
     _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();
    </script>
  </body>
</html>
