{{define "body"}}
<div class="container">
  <h1>{{.Class.Title}}</h1>
  {{if .CanViewRoster}}
  <p><a href="/roster?class={{.Class.ID}}">View Roster</a></p>
  {{end}}  {{/* if .CanViewRoster */}}
  <p>{{.Class.Weekday}}s with {{.Teacher.DisplayName}} at {{FormatLocal "3:04pm" .Class.StartTime}}</p>
  <p>{{.Class.Description}}</p>
  {{if not .User }}
  <p><a href="/login">Log in</a> to register.</p>
  {{else}}

  {{if not .Student}}

  {{if not .Class.DropInOnly}}
  <h3>Session Registration</h3>
  <form method="post" action="/register/session" role="form">
    {{template "XSRFTokenInput" .SessionToken}}
    <input type="hidden" name="class" value="{{.Class.ID}}" />
    <button class="btn btn-lg">Register For Entire Session</button>
  </form>
  {{end}}  {{/* if not .Class.DropInOnly */}}

  <h3>Single-Day Registration</h3>
  <form method="post" action="/register/oneday" role="form">
    {{template "XSRFTokenInput" .OneDayToken}}
    <input type="hidden" name="class" value="{{.Class.ID}}" />
    <label class="field-label" for="date">Date (MM/DD/YYYY):</label>
    <input type="text" name="date" id="date" required="required" class="form-control" />
    <div id="datepicker"></div>
    <button class="btn btn-lg">Register For One Day</button>
  </form>
  {{else}}
  <p>You are registered for this class.</p>
  {{end}}  {{/* if not .Student */}}
  {{end}}  {{/* if not .User */}}
</div>
{{end}}

{{define "script"}}
<script>
  $("#datepicker").datepicker({
  beforeShowDay: function(date) {
  show = {{WeekdayAsInt .Class.Weekday}} == date.getDay();
  return [show, ""];
  },
  dateFormat: "mm/dd/yy",
  onSelect: function(date, picker) {
  $("#date").val(date);
  }
  });
</script>
{{end}}
