{{define "body"}}
<div id="header" class="section">
  <table style="width: 100%; text-align: center;">
    <tr>
      <td>
	<img src="/images/jill-n-lauren-banner.jpg" alt="Jill and Lauren" width="400" height="200" />
      </td>
      <td>
        <img src="/images/large_logo.png" alt="Inner Hearth Yoga"/>
      </td>
      <td style="text-align: right;">
        <p class="address"><a href="mailto:info@innerhearthyoga.com">info@innerhearthyoga.com</a></p>
        <p class="address">412-204-7227</p>
        <p class="address">
          <a href="https://maps.google.com/maps?q=6736+Reynolds+Street,+Pittsburgh,+PA&amp;hl=en&amp;sll=40.431368,-79.9805&amp;sspn=0.226574,0.528374&amp;oq=6736+Reynolds+Street,+P&amp;t=v&amp;hnear=6736+Reynolds+St,+Pittsburgh,+Allegheny,+Pennsylvania+15206&amp;z=14&amp;iwloc=A">6736 Reynolds Street</a> (second floor)
        </p>
        <p class="address">Pittsburgh, PA 15206</p>
	<p><a href="/mailinglist">Subscribe to our mailing list!</a></p>
      </td>
      <!-- TODO(rwsims): Social icons -->
    </tr>
  </table>
</div>
{{end}}
