{{define "body"}}
{{if .Announcements}}
<div class="container">
  <div class="page-header">
    <h1>Announcements</h1>
  </div>
  {{range .Announcements}}
  <p>{{.}}</p>
  {{end}}
</div>
{{end}}
{{with .Registrations}}
<div class="container">
  <h1>Your Registrations</h1>
  <ul class="registration-list">
  {{range .}}
  <li>
    {{.Class.Title}} with {{TeacherName .Teacher}}
    {{if .Student.DropIn}}
    {{.Class.Weekday}} {{FormatLocal "1/2" .Student.Date}}
    {{else}}
    {{.Class.Weekday}}s
    {{end}}
    at {{FormatLocal "3:04pm" .Class.StartTime}}
  </li>
  {{end}}
  </ul>
</div>
{{end}}
<div class="container">
  <div class="page-header">
    <h1>Our Classes</h1>
  </div>
  <p>Click on a class's name to see the description, sign up to drop in, or sign up for a whole session.</p>
  <table class="session-table">
  {{$daysInOrder := .DaysInOrder}}
  {{range .Schedules}}
  <tr class="session-heading">
    <th class="session-name" colspan="2">{{.Session.Name}}</th>
    <td class="session-dates">{{.Session.Start.Format "2 January"}} &ndash; {{.Session.End.Format "2 January"}}</td>
    {{$classes := .ClassesByDay}}
    {{$teachers := .TeachersByClass}}
    {{range $daysInOrder}}
    {{$day := .}}
    <tr>
      <th colspan="3" class="class-weekday">{{$day}}</th>
    </tr>
    {{$dayClasses := index $classes $day}}
    {{range $dayClasses}}
    <tr>
      <td><a href="/class?id={{.ID}}">{{.Title}}</a>{{if .DropInOnly}} <i>(drop-in only)</i>{{end}}</td>
      {{$teacher := index $teachers .ID}}
      <td>{{$teacher.DisplayName}}</td>
      {{$endTime := .StartTime.Add .Length}}
      <td>{{FormatLocal "3:04pm" .StartTime}} &ndash; {{FormatLocal "3:04pm" $endTime}}</td>
    </tr>
    {{end}}  {{/* range $dayClasses */}}
    {{end}}  {{/* range $daysInOrder */}}
  </tr>
  {{end}}  {{/* range .Schedules */}}
  </table>
  <div style="clear: both"></div>
</div>
{{end}}
