{{define "body"}}
<div class="container">
  <form action="http://innerhearthyoga.us7.list-manage2.com/subscribe/post?u=91f307cb06cb85c854a0d6bff&amp;id=ddb8ad4bc9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" role="form" class="form-horizontal" target="_blank">
    <h2>Subscribe to our mailing list</h2>
    <p>An asterisk indicates a required field</p>
    <div class="form-group">
      <label for="mce-EMAIL" class="col-sm-2 control-label">Email*</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" value="" name="EMAIL" required="required" id="mce-EMAIL">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Name</label>
      <div class="form-inline col-sm-10">
        <label for="mce-FNAME" class="sr-only">First Name</label>
        <input type="text" class="form-control" value="" name="FNAME" id="mce-FNAME" placeholder="First" size="40">
        <label for="mce-LNAME" class="sr-only">Last Name </label>
        <input type="text" value="" name="LNAME" class="form-control" id="mce-LNAME" placeholder="Last" size="40">
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label"><strong>Email Format </strong></label>
      <div class="col-sm-10">
        <div class="radio-inline">
          <label>
            <input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0" />
            HTML
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1" />
            Text
          </label>
        </div>
        <div class="radio-inline">
          <label>
            <input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2">
            Mobile
          </label>
        </div>
      </div>
    </div>
    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
  </form>
</div>
</div>
{{end}}
