{{define "body"}}
<div class="container">
  <div class="page-header">
    <h1>Pricing &amp; Policies</h1>
  </div>

  <p><b>Winter/Spring Session: January 13 - April 6 (12 weeks)</b></p>
  <p>Drop in anytime OR register for the whole session.</p>
    
  <h2>Drop In Pricing</h2>
  <table class="table">
    <tr><td>Regular:</td><td>$15</td></tr>
    <tr><td>Student/Senior/Military:</td><td>$12</td></tr>
  </table>

  <h2>Session Pricing</h2>
  <p>You can register for a session at any time; we will pro-rate the
  cost. You can look up weekly prices <a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdFd4bjI3NDBBQ3Bmb2FRVUxtVmh6V2c&usp=drive_web#gid=0">here</a>. Note that the final week of the session is the same as drop-in pricing.</p>
  <p>There is a <b>10% discount</b> for students, seniors and military. Please show ID at time of payment.</p>
  <table class="table">
    <tr>
      <td>One class a week:</td>
      <td>$144</td>
      <td>Pro-rate $12/week</td>
    </tr>
    <tr>
      <td>Two classes a week:</td>
      <td>$264</td>
      <td>Pro-rate $11/week</td>
    </tr>
    <tr>
      <td><b>Unlimited classes</b> for Winter Session:</td>
      <td>$360</td>
      <td>Pro-rate $30/week</td>
    </tr>
  </table>

  <h2>Making Up Missed Classes</h2>

  <p>Going to a weekly class is great - it helps make yoga practice a regular part of your life -
    but sometimes you need to miss a class or two. When this happens, you have until the end of the
    session to MAKE UP your missed classes! If you know you’re going to miss class in advance, you
    can even make up BEFORE you miss class.</p>

  <p>Many people enjoy taking class on alternate days of the week - for example, register for one
    class a week and attend class on alternate Tuesdays and Thursdays.</p>

  <h2>Refunds</h2>
  <p>Please email <a href="mailto:info@innerhearthyoga.com">info@innerhearthyoga.com</a> or call us at <a href="tel:+14102047227">410-204-7227</a> to discuss!</p>
</div>
{{end}}
