{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
</ul>
{{end}}
{{define "body"}}
<div id="teachers" class="section">
    <h1>Our Teachers</h1>
    <div>
        <h2 class="teacher-name" id="jill-bio">Jill Cummings (co-owner, E-RYT/LCSW)</h2>
        <img class="teacher-headshot" src="images/jill-headshot.jpg" alt="Jill Cummings" />
        <p><span class="teacher-name">Jill Cummings</span> found yoga back in 1999 at the
        12th Street Gym in Philadelphia while seeking a practice to nurture her body after
        years of banging it up as an athlete. A few years later she became certified to
        teach through the thoughtful and compassionate teachings of Corina Benner and Jill
        Manning at Wake Up Yoga. She also completed trainings in kids', prenatal and
        postpartum yoga with Gail Silver of Yoga Child. She's also spiced up her teachings
        by studying Yin yoga with Corina Benner, yoga anatomy with Paul Grilley, Sanskrit
        with Manorama and has practiced with many more amazing teachers.  Jill formerly
        co-founded and taught at Yogawood in Collingswood, NJ until her family relocated to
        Pittsburgh in 2009. While independently teaching the most amazing students in da
        ‘burgh she also co-created Yin YogassageTM with Brad Mumpower in 2011. Jill then met
        Lauren at another local yoga studio…and the rest is history!
        <p>Her teachings are infused with anatomical and physiological considerations ,
        compassion and attention for each unique student , a lot of laughter and tons of
        fun!  When not teaching yoga, Jill is currently finishing her Master of Occupational
        Therapy at the University of Pittsburgh, hanging with her husband and 2 kooky kids,
        goofy hound dog, Charlie and crazy cat, Kitty.
    </div>
    <div>
        <h2 class="teacher-name" id="lauren-bio">Lauren Sims (co-owner, RYT)</h2>
        <img class="teacher-headshot" src="images/lauren-headshot.jpg" alt="Lauren Sims" />
        <p>In 2004, <span class="teacher-name">Lauren Sims</span> accidentally walked into a
        yoga class instead of a martial arts class and never walked out. Lauren is
        passionate about helping students realize their capacity for growth and change, and
        believes that the most profound possibility yoga offers is the chance to become an
        active, joyful participant in your own life.

        <p>After years of study at Willow Street Yoga in Takoma Park, MD, Lauren graduated
        from their comprehensive teacher training program led by Suzie Hurley and Maria
        Hamburger in 2010. Since then, she's studied therapeutic yoga and anatomy with Jenny
        Otto of Body Balance Yoga, completed a prenatal teacher training with Janice
        Clarfield, and continues to study with master teachers such as Douglas Brooks,
        Christina Sell, Bernadette Birney, and Emma Magenta. Her classes inspire the body to
        reach its full potential through mindful sequencing and precise instruction, and are
        infused with warmth, humor, and just a bit of tough love!

        <p>Lauren moved to Pittsburgh in June 2012, and fell in love with the City of Steel
        at first sight. She lives in Shadyside with her husband and two entitled cats.
    </div>
    <div>
      <h2 class="teacher-name">Julie Menge</h2>
      <img class="teacher-headshot" src="images/julie-headshot.jpg" alt="Julie Menge" />
      <p>
	Julie Menge started teaching yoga in 2010 when she completed a 200-hour teacher training in
	the style of vinyasa yoga. After much soul searching, Julie left her career in human
	resources to teach yoga full-time and hasn't looked back since. Today, her classes are
	infused with humor, alignment, rhythmic flow, and a steady balance between effort and
	ease.
      </p>
      <p>
	Julie has also studied and teaches yin yoga. She loves encouraging her vinyasa students to
	check out the "other half of their yoga practice" and try a yin class!
      </p>
      <p>
	In 2013, Julie completed a second 200-hour training with YogaWorks, under the guidance of
	Anna Gilbert Zupon. Julie now considers her classes to be mainly influenced by the YogaWorks
	philosophy of teaching thoughtful, alignment based flow. She also is greatly inspired by
	Seane Corn, and travels the U.S. to try and practice with her at least once a year. Finally,
	Julie's most important teachers are the totally awesome local yoga teachers right here in
	Pittsburgh, PA!
      </p>
      <p>
	You can find Julie hanging out with her husband Nate, and their two rescued dogs Chelsea and
	Buzz in their Wilkinsburg townhouse.
      </p>
    </div>
    <div class="teacher-bio">
        <h2 class="teacher-name" id="brad-bio">Brad Mumpower</h2>
        <img class="teacher-headshot" src="images/brad-headshot.jpg" alt="Brad Mumpower" />
        <p><span class="teacher-name">Brad Mumpower</span> is a Certified Massage
        Therapist and Reiki Master working in private practice in Pittsburgh,
        specializing in deep tissue and trigger point therapy. In addition to teaching
        at the Pittsburgh School of Massage, Brad runs a small wellness center with a
        group of massage therapists and yoga instructors. In 2011, Brad's 12 years of
        bodywork experience lead him to collaborate with Jill Cummings to create Yin
        Yogassage™, a practice that seamlessly blends restorative yoga poses and
        bodywork.
    </div>
    <div style="clear: both"></div>
    <div class="teacher-bio">
      <h2 class="teacher-name">Max Novelli</h2>
      <img class="teacher-headshot" src="images/max-headshot.jpg" alt="Max Novelli" />
      <p>
	Max found yoga in 2001 soon after moving to Pittsburgh from Italy. After many years of hard
	core mountain biking, his knees decided they needed some TLC. After a few physical therapy
	sessions it was suggested he try yoga to keep his legs in shape and to stretch his
	muscles. Then, after 6 months of yoga classes at the local gym Max starting noticing how
	much better he felt after each class. This is when the light bulb went off in his brain and
	his journey truly began.
      </p>
      <p>
	Max currently has a weekly home practice and practices with some of his favorite teachers
	including; Jill Cummings, Richard Gartner, Maggie Pietri- Boria and Alana Deloge. He has
	enjoyed attended workshops with Kino McGregor, Doug Keller and other esteemed teachers.
      </p>
      <p>
	After couple of years of careful time management and planning (thanks to his wife Jennifer),
	he was finally able to make the time for yoga teacher training.  He is attending the
	YogaWorks 200-hour teacher training with Anna Gilbert Zupon at BYS. He is projected to
	complete the training in July 2013.
      </p>
      <p>
	When not on his mat, you can find him at his day job as a software engineer at the University
	of Pittsburgh, riding is mountain bike all around the ‘burgh, tasting good wines and delicious food,
	cooking, reading, and last but most important, spending time with his wife Jennifer and two sons
	Alessandro and Roberto.
      </p>
    </div>
    <div class="teacher-bio">
      <h2 class="teacher-name">Maggie Ryan</h2>
      <img class="teacher-headshot" src="images/maggie-ryan-headshot.jpg" alt="Maggie Ryan" />
      <p>Maggie completed her first vinyasa teacher training in 2010, shortly after graduating from
        college. In 2012, she went on to complete her 200 hour training with Chrissy Carter at
        YogaWorks NYC. Maggie teaches an alignment-based class with fluid, yet intuitive
        sequences. She uses humor to lighten the effortful moments, and as a reminder to stay
        grounded in the present moment. Maggie is personally committed to creating a sustainable
        practice grounded in ahimsa (compassion or non-harming) and svadhyaya
        (self-reflection). When she’s not teaching, Maggie works as an actor both onstage and more
        recently, onscreen.</p>
    </div>
    <div class="teacher-bio">
      <h2 class="teacher-name">Stefanie Zito</h2>
      <img class="teacher-headshot" src="images/stefanie-zito-headshot.jpg" alt="Stefanie Zito" />
      <p>Stefanie's journey of joy and exploration through movement began initially with a
        hula-hoop. It wasn't long thereafter that she began to explore other forms of mindful
        movement and fell in love with yoga. These two practices continue to teach her so much about
        how we live, move, and interact with the world. Stefanie completed her 200 hour YogaWorks
        Teacher Training with Anna Gilbert Zupon at BYS in 2012. She values a come-as-you-are
        approach to the mat, employing both mindful sequencing and clear instruction with a dash of
        playfulness. Stefanie's primary goal is to offer a safe and engaging space for each student
        to be on the mat, while learning to infuse movement with breath, in search of stability,
        softness, and new space within the body and mind.</p>
    </div>
    <div style="clear: both"></div>
</div>
{{end}}
