{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="/pricing">Pricing Info</a>
  <li class="nav-link"><a href="/workshops">Workshops</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
<h1>Rocket Yoga</h1>
<p><b>Saturday, January 4</b> from <b>12-1:30pm</b> with Susie Popovich</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/the_rocket2.jpg">
</div>

<p>Rocket Yoga is back! Susie Popovich leads an hour and a half of fun and challenging
  Ashtanga-inspired asana on Saturday, January 4th. Come prepared to play hard, sweat and have
  fun!</p>

<p>$15.00</p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdDdrMDhEWUx4UVc2di1YcUI0QVJXX1E#gid=0">Sign up online</a></p>

<div style="clear: both"></div>
</div>
{{end}}
