{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="/pricing">Pricing Info</a>
  <li class="nav-link"><a href="/workshops">Workshops</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
<h1>Foundations of Flow</h1>
<p><b>Sunday, January 26</b> from <b>1-3pm</b> and <b>Thursday, February 6</b> from <b>7-9pm</b> with Maggie Ryan</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/foundations-of-flow.jpg">
</div>

<p>Vinyasa means "to place in a special way." In this workshop, we will bring more awareness to each
  pose within a Sun Salutation. Join us as we break down the mechanics of downward facing dog,
  upward facing dog, low cobra, and the infamous chaturanga dandasana. We will build strength and
  clarity in each of these poses, and learn how to smoothly and safely link them together. All
  levels welcome!</p>

<p>$25.00</p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdGt6S2Y4NFZFX202OVVrWVhlTXAtSlE#gid=0">Sign up for Sunday, 1/26 from 1-3pm</a></p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdHk0U2hnOWFCMWxLVjhrY1g2ZEpBYnc#gid=0">Sign up for Thursday, 2/6 from 7-9pm</a></p>

<div style="clear: both"></div>
</div>
<div class="section">
<h1>3 Weeks to Handstand!</h1>
<p><b>Sundays, Febrary 9, 16 and 23</b> from <b>11am-12:30pm</b> with Lauren</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/3-weeks-to-handstand.jpg">
</div>
<p>Can you rock half-handstand at the wall no problem, but feel befuddled when you think about
kicking up to full handstand? This is the class for you. We’ll break down the mechanics of standing
on your hands, and practice exercises to help you overcome the special challenges of defying
gravity. At the same time, you’ll grow stronger and more confident from focusing on this pose over
time! You’ll finish this workshop with the understanding to confidently practice Handstand during
the course of a normal yoga class. Open to students who can go into half-handstand at the wall.</p>

<p>$60 for all 3 weeks</p>
<p>$25 for a single class</p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdDZNei1jZ3JiMEtEN0pUWmZWRXpPUFE&usp=drive_web#gid=0">Sign up for all 3 weeks</a></p>

<div style="clear: both"></div>
</div>
<div class="section">
<h1>Partner Yoga</h1>
<p><b>Friday, February 14</b> from <b>6-8pm</b> with Jill and Lauren</p>

<div style="float: right; margin-left: 1em">
<img src="/images/workshops/partners2.jpg">
</div>
<p>Join Jill and Lauren for a celebration of partnership. You’ll stay in contact with your partner throughout this creative, fun yoga practice - familiar poses take a new twist at the same time as challenging poses become more accessible! Be prepared to laugh, play and fall over. Open to all levels of yogis, and all kinds of partners.</p>

<p>$50.00 per couple</p>
<p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdEhzWnBFY2VaLTJGdVIyNC1XZzlYVHc&usp=drive_web#gid=0">Sign up for Friday, 2/14 from 6-8pm</a></p>

<div style="clear: both"></div>
</div>
{{end}}
