{{define "Navbar"}}
<ul class="nav-links">
  <li class="nav-link"><a href="/">Home</a>
  <li class="nav-link"><a href="/about">About Us</a>
  <li class="nav-link"><a href="/pricing">Pricing Info</a>
  <li class="nav-link"><a href="/workshops">Workshops</a>
  <li class="nav-link"><a href="/teachers">Our Teachers</a>
</ul>
{{end}}

{{define "body"}}
<div class="section">
  <h1>Yin Yoga and Reiki</h1>
  <p><b>Thursday, April 17</b> from <b>7-9pm</b> with Jill Cummings</p>

  <div style="float: right; margin-left: 1em">
    <img src="/images/workshops/yoga-and-reiki.jpg">
  </div>

  <p>Enjoy a grounding and restorative Yin Yoga practice while
  receiving the hands-on healing modality Reiki. Reiki has been
  defined as "universal energy", and will be offered mindfully by Jill
  Cummings as she guides you through a practice designed to help you
  relax and rejuvenate.</p>

  <p>Effects of Reiki are said to include deep relaxation and an
    increased sense of calm and well-being. Join Jill for this two
    hour long treat, and see what an evening of mindful relaxation can
    unlock for you!</p>

  <p>Everyone is welcome. No yoga experience is necessary!</p>

  <p>$25</p>
  <p><a href="https://docs.google.com/spreadsheet/ccc?key=0AtxJOE-cKu6fdGVHV0NtYl9rWWNQbUxEQ2tPTHFlQWc#gid=0">Sign up for Thursday, April 17 from 7-9pm</a></p>
</div>

<div style="clear: both"></div>
</div>
{{end}}
