{{define "body"}}
<div class="container">
  <div class="row">
    <div class="col-md-5">
      <img src="images/yogassage.jpg" class="img-responsive"  alt="Yin Yogassage"/>
    </div>
    <div class="col-md-7">
      <p>Yin Yogassage is a seamless blend of yoga and
        bodywork. During a Yin Yogassage class, students of all levels
        will be led through the quiet, reflective practice of Yin Yoga
        while receiving massage as they rest in the poses. Students
        with chronic conditions are welcome, and will be assisted in
        modifying their practice to accommodate their
        conditions. Class size is limited, insuring that each student
        receives generous attention!  Experience for yourself the deep
        release of tension and complete relaxation that occurs during
        a Yin Yogassage workshop.</p>
      <p><strong>Preregistration is REQUIRED:</strong> click on your preferred workshop date below to sign up!</p>
      <ul>
        {{range .YinYogassage}}
        <li><a href="{{.SignupLink}}">Signup for {{.Date.Format "Monday, January 2"}}, 7-9pm</a></li>
        {{end}}
      </ul>
    </div>
  </div>
</div>
{{end}}
