.session-table th,td {
    padding-right: 1em;
}

.session-name {
    font-size: 150%;
    vertical-align: baseline;
    padding-top: 1em;
    padding-right: 2em;
    border-bottom: 1px solid black;
    text-align: left;
}

.session-dates {
    vertical-align: baseline;
    text-align: right;
    border-bottom: 1px solid black;
}